* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-splash {
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('../assets/images/imagen-1.jpg');
}
#logo {
  width: auto;
  max-width: 300px;
}
.pd-3 {
  padding: 0;
}
.mb-0 {
  margin-bottom: 0
}
.mg-4{
  margin: 4vh;
}
.mgt-20 {
  margin-top: 20px; 
}
.mgl-20{
  margin-left: 20px;
}
.all-heigth {
  height: 100vh;
}
.heigth-75 {
  height: 75vh
}
.height-10 {
  height: 10vh;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-magenta {
  background-color: magenta;
  border-color: magenta;
}
.text-bold {
  font-weight: bold;
}
.color-white {
  color: white;
}
.color-magenta {
  color: magenta;
}
.click {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.click2 {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.corner {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}
.corner:hover {
  background-color: #0040FF;
}
.fa-google-plus-official {
  color: #dd4d40;
  font-size: 25px;
  text-shadow: 0.5px 0.5px rgb(0, 0, 0);
}
.padding-25 {
  padding: 25px;
  border-radius: 5px;
}
.blue-bg {
  background-color: #2E64FE;
}
.botton-bg {
  background-color: gray;
}
.white-bg {
  background-color: rgba(0, 0, 0, 0.4)
  /* border: 1px solid black; */
}
.bg-image{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('../assets/images/imagen-2.jpg');
}
.transparent {
  background: transparent;
}
.enabled-button {
  background-color: #0040FF;
}
/* ------------------------------------------------------- */

/*section image-profile*/
.container-flex-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* padding: 2em; */
}
/* Solo cambiando el padiing para que la imagen no se desborde */
.img {
  width:100%; 
  max-width:200px;
  padding: 2em;
  margin: auto;
  display: block;
}
.container-uno-profile {
  border: 1px solid grey;
  padding-top: 1em;
  box-shadow: 2px 2px 5px #999;
  margin: 1em;
  background: linear-gradient(to bottom, rgba(0,136,209,1) 0%, rgba(0,136,209,1) 46%, rgba(62,77,106,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
}
.contenedor{
  width:90px;
  height:240px;
  position:absolute;
  right:0px;
  bottom:0px;
}
.botonF1{
  width:40px;
  height:40px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  position: relative;
  margin-right:15px;
  margin-bottom:15px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}
span{
  transition:.5s;
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}
.text-title {
  margin: 1vh 0 0 0;
}
.container-dos-profile {
  border: 1px solid grey;
  padding-top: 1em;
  box-shadow: 2px 2px 5px #999;
  margin: auto;
  width: 90%;
  max-width: 994px;

}
.pad-bot {
  padding: 1em 1.5em 1em 1.9em;
}
/* Le añadí a esta clase un margin-bottom ya que el nombre está pegado al botón change name, algo que resta al buen diseño de la página */
.mt-20 {
  margin-top: 100px;
  margin-bottom: 9px;
}
.bg-red {
  background-color:#F44336;
}
.color-tranparent {
  color: transparent;
}
/* Esta clase venía por defecto con un height de 50px y la altura de tu logo es de 53px por lo que se terminaba desbordando de su contenedor. Más atentas con esos detalles */
.navbar-brand {
  height: auto;
}
/* El margin-top era innecesario y era otra razón por la cual el logo se desbordaba de su contenedor */
.width-40 {
  width: 60px;
}
.float-rigth {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
.logout {
  border: none;
  background-color: gray;
  padding: 10px 15px;
  color: white;
  border-radius: 7px;
}
.boton-center  {
  width: 150px;
  text-align: center;
  margin: auto;
  border:none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform:uppercase;
}
/* Esta es clase del contenedor del botón postear al que le añadí display: flex para poder centrar mejor la imagen */
.boton-green-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Le quité el margin-left porque no centraba bien: cuando el viewport aumentaba, se movía más hacia la izquierda */
.boton-green {
  width: 80px;
  margin:auto;
  text-align: center;
  border:none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: yellowgreen;
  margin-top: 10px;
}
.posts {
  margin-left: 5%;
  border-radius: 5px;
  width: 90%;
  padding: 20px;
  border: 1px solid #0040FF;
  margin-bottom: 5px;
}
.input-post {
  width:100%;
  margin:auto;
}
/* Añadí esta clase ya que el borde del input para postear en ciertas ocasiones desparecía una parte */
.border-color {
  border: 1px solid gray;
}
.another-user {
  margin:auto;
  text-align: center;
  border:none;
  border-radius: 5px;
  padding: 10px;
  color: #5882FA;
  font-weight: bold;
  background-color: white;
  margin-left: 5px;
}

.button-follow {

  margin:auto;
  text-align: center;
  border:none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  background-color: #5882FA;
}
