* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Asul', sans-serif;
}
.container-splash {
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('../assets/images/imagen-1.jpg');
}
#anotherUserIcon img {
  max-height: 100%;
}
#anotherUserIcon {
  height: 144px;
}
#logo {
  width: auto;
  max-width: 300px;
}
.pd-3 {
  padding: 0;
}
.mb-0 {
  margin-bottom: 0
}
.mg-4{
  margin: 4vh;
}
.mgt-20 {
  margin-top: 20px;
}
.mgl-20{
  margin-left: 20px;
}
.all-heigth {
  height: 100vh;
}
.heigth-75 {
  height: 75vh
}
.height-10 {
  height: 10vh;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-magenta {
  background-color: magenta;
  border-color: magenta;
}
.text-bold {
  font-weight: bold;
}
.color-white {
  color: white;
}
.color-magenta {
  color: magenta;
}
.click {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.click2 {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.corner {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}
.corner:hover {
  background-color: #0040FF;
}
.fa-google-plus-official {
  color: white;
  font-size: 25px;
  text-shadow: 0.5px 0.5px rgb(0, 0, 0);
}
.padding-25 {
  padding: 25px;
  border-radius: 5px;
}
.red-btn {
  background-color: #dd4d40;
}
.blue-bg {
  background-color: #2E64FE;
}
.botton-bg {
  background-color: gray;
}
.white-bg {
  background-color: rgba(0, 0, 0, 0.6)
  /* border: 1px solid black; */
}
.bg-image{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('../assets/images/imagen-2.jpg');
}
.transparent {
  background: transparent;
}
.enabled-button {
  background-color: #0040FF;
}
.pd-bottom-15 {
  padding-bottom: 15px;
}
/* ------------------------------------------------------- */

/*section image-profile*/
.container-flex-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* padding: 2em; */
}
/* Solo cambiando el padiing para que la imagen no se desborde */
.img {
  width:100%;
  max-width:200px;
  padding: 2em;
  margin: auto;
  display: block;
}
.container-uno-profile {
  border: 1px solid grey;
  padding-top: 1em;
  box-shadow: 2px 2px 5px #999;
  margin: 1em;
  background: linear-gradient(to bottom, rgba(0,136,209,1) 0%, rgba(0,136,209,1) 46%, rgba(62,77,106,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
}
.contenedor{
  width:90px;
  height:240px;
  position:absolute;
  right:0px;
  bottom:0px;
}
.botonF1{
  width:40px;
  height:40px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  position: relative;
  margin-right:15px;
  margin-bottom:15px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}
span{
  transition:.5s;
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}
.text-title {
  margin: 1vh 0 0 0;
}
.container-dos-profile {
  border: 1px solid grey;
  padding-top: 1em;
  box-shadow: 2px 2px 5px #999;
  margin: auto;
  width: 90%;
  max-width: 994px;

}
.pad-bot {
  padding: 1em 1.5em 1em 1.9em;
}
/* Le añadí a esta clase un margin-bottom ya que el nombre está pegado al botón change name, algo que resta al buen diseño de la página */
.mt-20 {
  margin-top: 100px;
  margin-bottom: 9px;
}
.bg-red {
  background-color:#F44336;
}
.color-tranparent {
  color: transparent;
}
/* Esta clase venía por defecto con un height de 50px y la altura de tu logo es de 53px por lo que se terminaba desbordando de su contenedor. Más atentas con esos detalles */
.navbar-brand {
  height: auto;
}
/* El margin-top era innecesario y era otra razón por la cual el logo se desbordaba de su contenedor */
.width-40 {
  width: 60px;
}
.float-rigth {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
.logout {
  border: none;
  background-color: gray;
  padding: 10px 15px;
  color: white;
  border-radius: 7px;
}
.boton-center  {
  width: 150px;
  text-align: center;
  margin: auto;
  border:none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-transform:uppercase;
}
/* Esta es clase del contenedor del botón postear al que le añadí display: flex para poder centrar mejor la imagen */
.boton-green-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Le quité el margin-left porque no centraba bien: cuando el viewport aumentaba, se movía más hacia la izquierda */
.boton-green {
  width: 80px;
  margin:auto;
  text-align: center;
  border:none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #536DFE;
  margin-top: 10px;
}
.posts {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #0040FF;
  background-color: #f7f7f7;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.input-NY {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 12px;
}
#ny-news > div {
  background-color: white;
  padding: 18px;
  border-radius: 4px;
  margin-bottom: 8px;
}
#ny-news li {
  list-style: none;
}
.input-post {
  width:90%;
  margin-left:5%;
  border-radius: 8px;
}
/* Añadí esta clase ya que el borde del input para postear en ciertas ocasiones desparecía una parte */
.border-color {
  border: 1px solid gray;
}
.another-user {
  margin:auto;
  text-align: center;
  border:none;
  border-radius: 5px;
  padding: 10px;
  color: #5882FA;
  font-weight: bold;
  background-color: white;
  margin-left: 5px;
}
.btn-seguir {
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
}
.bord {
  border-radius: 5px;
  border: 1px solid #5882FA;
  margin-bottom: 10px;
}
.button-follow {

  margin:auto;
  text-align: center;
  border:none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  background-color: #5882FA;
}
.text-center {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: black;
}
.title-center {
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  color: black;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.bg-white-dark {
  background-color:#e6ecf0;
}
.pd-top-20 {
  padding-top: 20px;
}
.bg-rgba{
  background: rgba(0, 0, 0, 0.5);
}
.bg-soft-green {
  background-color:#f7f7f7;
}
.bg-soft-soft-green {
  background:#53a4ce;
}
.bg-soft-back {
  background-color:#212121;
}
.bg-sky-blu {
  background-color: #448AFF;
}
.bg-gray {
  background-color: #757575;
}
.bg-soft-gray {
  background-color: #BDBDBD;
}
.fz-28 {
  font-size: 24px;
}
.line-heigth-0 {
  line-height: 0px;
}
.line-heigth-12 {
  line-height: 23px;
}
.fz-18 {
  font-size: 18px;
}
.pd-15 {
  padding: 15px
}
.mt-18 {
  margin-top: 18px;
}
.post-center {
  width: 90%;
  margin: auto;
}
.button-change {
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  height: 28px;
}
.upper {
  text-transform: uppercase;
}
.mg-bottom-25 {
  margin-bottom: 25px;
}
.heigth-50 {
  height: 50px;
}
.border-top {
  border-top: 2px solid #0040FF;
}
.image-div {
  height: 144px;
}
.image-div img {
  max-height: 100%;
}
.wrap-break {
  word-wrap: break-word;
}
.posts img {
  width: 80vw;
}
.blue {
  text-decoration: underline;

}
.blue:hover {
  cursor: pointer;
  font-weight: bold;
}
.label {
  width: 80px;
  margin:auto;
}
.mg-bottom-15 {
  margin-bottom: 15px;
}
.width-100 {
  width: 100%;
}
.width-30 {
  width: 30%:
}
.border-radius {
  border-radius: 5px;
}
.width-70 {
  width: 70%;
}
.pd-sides-0 {
  padding-left: 0;
  padding-right: 0;
}
.title-users {
  color: #757575;
}
.texto-center {
  text-align: center;
}
.color-soft-soft-green {
  color: color: #DCEDC8;;
}
.row::after, .row::before {
  height: 0;
}
@media (min-width: 768px) {

  .posts img {
    width: 400px;
  }
}
